<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlunoServlet</servlet-name>
        <servlet-class>com.faeterj.centralvagas.servlets.AlunoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>H2ConsoleServlet</servlet-name>
        <servlet-class>com.faeterj.centralvagas.servlets.H2ConsoleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DebugDBServlet</servlet-name>
        <servlet-class>com.faeterj.centralvagas.servlets.DebugDBServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlunoServlet</servlet-name>
        <url-pattern>/aluno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>H2ConsoleServlet</servlet-name>
        <url-pattern>/admin/h2console</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DebugDBServlet</servlet-name>
        <url-pattern>/debug-db</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
